
<div class="detail-view" style="background-color: #f9f9f9; border: 1px solid #ddd; padding: 20px; margin: 20px; border-radius: 5px;">
  <h1>Details</h1>
  <h1 style="font-size: 24px; margin-bottom: 10px;">{{ cardDetails?.title }}</h1>
  <h2 style="font-size: 18px; margin-bottom: 5px;">Address: <span style="font-weight: bold;">{{ cardDetails?.address }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">Beds: <span style="font-weight: bold;">{{ cardDetails?.beds }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">Bath: <span style="font-weight: bold;">{{ cardDetails?.bath }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">coveredAreaSQFT: <span style="font-weight: bold;">{{ cardDetails?.coveredAreaSQFT }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">propertyType: <span style="font-weight: bold;">{{ cardDetails?.propertyType }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">IsCommercial: <span style="font-weight: bold;">{{ cardDetails?.sCommercial }}</span></h2>
  <h2 style="font-size: 18px; margin-bottom: 5px;">Price: <span style="font-weight: bold;">{{ cardDetails?.price }}</span></h2>
</div>
